<h5 class="fw-bolder">Add a movie to <%= list.name %></h5>

<%= simple_form_for [list, bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Select a movie", input_html: { data: { controller: "tom-select" } } %>
  <%= f.input :comment, placeholder: "Enter a comment about the movie" %>

  <div class="form-buttons mb-5">
    <%= f.submit "Add movie", class: "btn btn-outline-dark" %>
    <%= link_to "Back", lists_path, class: "btn btn-outline-dark" %>
  </div>
<% end %>
